.body {
  display: flex;
  justify-content: start;
}

/* .IOblock {
  margin: 10px;
} */

.lines {
  margin-left: 10px;
  margin-top: 15px;
}

#transitStation {
  font-size: medium;
}

#transit {
  font-size: medium;
  vertical-align: top;
  border: solid;
  width: 200px;
  height: 90px;
  border-color: black;
}

.title {
  background-color: lightgray;
}

.select {
  width: 150px;
}