.body {
  background-color: lime;
}

#display {
  display: flex;
  justify-content: start;
  background-color: lime;
}

#title {
  text-align: center;
  width: 950px;
}

.lines {
  margin-left: 50px;
  margin-top: 15px;
}

#transitStation {
  font-size: medium;
}

#transit {
  font-size: medium;
  vertical-align: top;
  border: solid;
  width: 200px;
  height: 90px;
  border-color: black;
}

.title {
  background-color: green;
  color: white;
}

.select {
  width: 150px;
}